/* You can add global styles to this file, and also import other style files */
@import https://fonts.googleapis.com/css2?family=Montserrat&display=swap

body  
  margin: 0
  font-family: 'Montserrat', sans-serif

@media screen and ( max-width: 425px )
  body
    font-size: 10px