.articles-banner 
    background-color: black
    color: white
    padding: 2rem

    div
      max-width: 1200px
      margin: auto

      .banner__title
        font-size: 4rem
        margin: 0

      .banner__subtitle
        font-size: 1rem

.articles-list
  table
    display: flex
    justify-content: center
    border-collapse: collapse
    max-width: 1200px
    margin: auto

    tbody
      width: 100%

  
.articles-table__row
  height: 2rem
  background-color: #fff
  border-bottom: 1px solid #ccc
  padding: .2rem .1rem
  
  .article__title
    width: 80%

  .article__time
    width: 10%

  .article__action
    opacity: 0
    width: 10%
  
  &:hover
    background-color: #fafafa

    .article__action
      opacity: 1

  button
    border: none
    width: 100%
    background: transparent

    .delete-icon
      color: red
      padding: .5rem
      font-size: 1.5rem

.article__author
  color: #999
  font-style: normal

.article__title, .article__time
  color: #333
  font-size: 13pt
  padding: 1rem 1rem

@media screen and ( max-width: 425px )
  .article__title, .article__time
    padding: .5rem