<section class="articles-banner">
  <div>
    <h1 class="banner__title">HN Feed</h1>
    <h3 class="banner__subtitle">We &lt;3 hacker news!</h3>
  </div>
</section>
<section class="articles-list">
  <table>
    <tbody>
      <ng-container *ngFor="let article of articles">
        <tr
          class="articles-table__row"
          *ngIf="
            article.visible === true &&
            (article.title !== null || article.story_title !== null)
          "
        >
          <td class="article__title" (click)="redirect(article)">
            <span> {{ article.title || article.story_title }}. </span>
            <i class="article__author">- {{ article.author }} -</i>
          </td>
          <td class="article__time">
            <span>
              {{ article.created_at | customDate }}
            </span>
          </td>
          <td class="article__action">
            <button
              aria-label="Delete"
              type="button"
              (click)="deleteArticle(article._id)"
            >
              <fa-icon class="delete-icon" [icon]="faTrashAlt"></fa-icon>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>
